a.active{
   @apply text-primaryGreen underline underline-offset-4 transition-all ease-in-out duration-200
}
.register.active{
   @apply text-white no-underline
}

::-webkit-scrollbar {
   width: 5px !important; /* Width of vertical scrollbar */
   height: 10px !important; /* Height of horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
   background: #3BB3491A  !important; /* Color of scrollbar track */
   border-radius: 20px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #8f8f8f  !important; /* Color of scrollbar handle */
   border-radius: 20px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #3BB3491A !important; /* Color of scrollbar handle on hover */
   border-radius: 20px !important;
}